
.header{
	height:150px;
	margin-bottom:20px;
	background-color:#d9e021;
	display: flex;
	align-items:center;
}
.logo{
	margin:0 auto 0 20; /*センタリングします*/
	display:flex;
	align-items:center;
}
.logo img{
	width:100px;
	margin-right:10px;
}
.header__contents{
	width:980px;
	display: flex;
	align-items: flex-end;
}
.header__cotents--link{
	display: flex;
	margin-bottom: 0;
}
.header__cotents--link li{
	list-style: none;
	width:50px;
}
.contents{
	margin:0 auto;
	width:980px;
}
.visual{
	height: 400px;
	background: url("../image/poor.jpg") no-repeat center center;
	display: flex;
	align-items: center;
}
.copy{
	color:#00F;
	margin-left:100px;
	font:normal 32px/2em sans-serif;
	border: 5px solid #00F;
}
.text_wrapper{
	height:200px;
	display:flex; /* flex形式にします */
	justify-content: center; /* 子要素をセンタリング */
}
.text{
	width:280px;
	height:160px;
	margin-top:1%;
	padding-right:15px;
/*borderの前にborder-rightとか書いたら反映されない*/
	border-right: 8px solid #F0F;
	font:normal 18px/2em sans-serf;
	display:flex;
	align-items: center;
}
.menu{
	margin-top:1%;
	width:300px;
	font:normal 18/1.6em sans-serif;
	display:flex;
}

.footer{
	height:120px;
	margin-top:30px;
	background-color:#bec9c9;
	display:flex;
	justify-content: center;
	border: 1px solid #000;
}
.footer_contents{
	width:980px;
	text-align: center;
	slign-self: flex-end;
}
