ul{
	border:1px solid #777
}

li{
	border:1px solid #fcc;
	margin:15px 20px;
	padding:15px 20px;
}

.wrap1 li{
	display:inline;
}

.wrap2 li{
	display:inline-block;
}


div{
	border:1px solid #ada;
}

span{
	border:1px solid #faa;
	margin:15px;
	padding:15px;
}

.wrap3 span{
	display:block;
}

.wrap4 span{
	display:inline-block;
}

p{
	border:1px solid #aaa
}

.wrap5{
	display:table;
	width:300px;
}
.wrap5 p{
	display:table-cell;  /*tableの子要素にする*/
	vertical-align:middle;  /*天地の中央に配置*/
	height:100px;
}

.wrap6{
	border:1px solid #000;
	position:relative;
	width:300px;
	/*親要素の高さ情報は無くなってしまう。*/
	heitght:90px;
}
.wrap6 div{
	border:1px solid #123;
	position:absolute;
	width:100px;
	height:30px;
}
.wrap6_box1{ /*赤*/
	background-color:#F00;
	left:20px;
	top:20px;
	z-index:1;
}
.wrap6_box2{  /*ピンク*/
	background-color:#F0F;
	left:120px;
	top:20px;
	z-index:10;
}

.wrap6_box3{  /*緑*/
	background-color:#0F0;
	top:25px;
	right:10px;
	z-index:2;
}