
section{
  margin:30px 0;
}

#change_btn{
  width:200px;
  border: 1px solid #000;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

#text{
  border: 1px solid #EEE;
}

.hover_on{
  background-color:#EEF;
}

.hover_off{
  background-color:#EEE;
}
.list_slideToggle{
  border:1px solid #FF0;
}

.list_slideToggle > li > div{
  border:1px solid #000;
  cursor: pointer;
}


ul, li{
  margin:0;
  padding:0;
  list-style: none;
}

.list_slideToggle_inner{
  display: none;
  border:1px solid #F00;
}

.list_slideToggle_inner > li{
  border:1px solid #000;
  text-align: center;
}

.Top_btn{
  width: 60px;
  height: 60px;
  /*display: none;*/
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
.Top_btn > img{
  width: 100%;
  height: auto;
}

#Tip{
  position:relative;
}
#Tip ul{
  display :flex;
  width :90px; 
  height: 50px;
}
#Tip ul li{
  width :80px; 
  height :30px;
  border :1px solid #FF0;
  padding :3px 10px;
  margin :10px;
  vertical-align: center;
  background-color: #ffff00;
  font: small-caps bold 20px/1 arial black;
}

.tooltip {
  padding: 0.3em 1em;
  position: absolute;
  top: 40px;
  color: #fff;
  background-color: #51A2C1;
  border-radius: 0.6em;
  z-index: 100;
}
.tooltip::after {
  color:#fff;
  content:'';
  position: absolute;
  top: -10px;
  left: 15px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #F00;
  border-left: 10px solid transparent;
}